/* Hides the radio button */
.customize-control-radio-image input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

/* Makes images look clickable */
.customize-control-radio-image img {
    border: 4px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    height: auto;
    max-width: 100%;
    padding: 1px;
}

/* Adds blue border around currently selected image */
.customize-control-radio-image input:checked + img {
    border-color: #00a0d2;
}
